{% extends 'collabrate/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block content %}
{% if error %}
    <p style="color: red;">{{error}}</p>
{% endif %}
<div class="login-container">
    <div class="left-panel">
        <img class="login-img" src="{% static 'collabrate/images/org.png' %}">
    </div>
    <div class="right-panel">
        <form method="post">
            {% csrf_token %}
            <label>
                <input type="radio" name="user_type" value="student" required>Student
            </label>
            <br>
            <label>
                <input type="radio" name="user_type" value="professor" required>Professor
            </label>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- <div class="right-panel">
        <h1>What is your role?</h1>
        <button>I'm a <strong>Team Member</strong></button>
        <button>I'm a <strong>Professor</strong></button>
        <button>I'm an <strong>Admin</strong></button>
    </div> -->
</div>
{% endblock %}