{% extends 'collabrate/base.html' %}
{% block title %}Draft Questions{% endblock %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'course/create_form_info.css' %}">
<link rel="stylesheet" href="{% static 'course/course_landing.css' %}">
<link rel="stylesheet" href="{% static 'course/sidenav.css' %}">
<style>
    .top-banner {
        background-color: {{ course.color }};
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid position-fixed p-0 m-0">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 p-0 m-0">
            {% include "course/sidenav.html" %}
        </div>

        <div class="container col-md-6 mt-4" style="max-height: 85vh; overflow-y: auto;">


            <!-- Page Title / Form Name -->
            <div class="row">
                <div class="top-banner">
                    <h1><strong>{{ course.code }} | </strong>{{ course.title }} - {{ course_form.name}}</h1>
                </div>
            </div>

            <!-- Start of the Form -->
            <form method="POST"
                action="{% url 'draft_questions' join_code=course.join_code course_form_id=course_form.id %}">
                {% csrf_token %}

                <!-- LIKERT QUESTIONS -->
                <h1>Likert Questions</h1>
                {% if course_form.num_likert > 0 %}
                {% for i in course_form.num_likert|times %}
                <!-- Each Question Card -->

                {% if forloop.last %}
                <p id="scroll-likert"></p>
                {% endif %}

                {% with current_likert=likert_qs|get_item:forloop.counter0 %}
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">

                        <!-- Question Number and Header -->
                        <div class="d-flex align-items-center mb-2">

                            <!-- Circle or Badge for question number -->
                            <div class="me-3 text-white"
                                style="width: 30px; height: 30px; border-radius: 50%; background-color: #ff4e4e; display: flex; align-items: center; justify-content: center;">
                                <strong>{{ forloop.counter }}</strong>
                            </div>

                            <div class="flex-grow-1">
                                <input type="text" name="likert_question_{{ i }}" class="form-control"
                                    placeholder="Enter Question" aria-label="Question Title" value="{% if current_likert %}{{ current_likert.question }}{% endif %}">
                            </div>
                        </div>

                        <!-- Likert Options -->
                        <div class="mt-3">
                            {% for option_num in "12345"|make_list %}
                                <div class="mb-3">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2" 
                                            style="border: 1px solid black; width: 15px; height: 15px; border-radius: 50%; background-color: 
                                            {% if option_num == '1' %}{{ course_form.color_1 }}
                                            {% elif option_num == '2' %}{{ course_form.color_2 }}
                                            {% elif option_num == '3' %}{{ course_form.color_3 }}
                                            {% elif option_num == '4' %}{{ course_form.color_4 }}
                                            {% elif option_num == '5' %}{{ course_form.color_5 }}
                                            {% endif %}">

                                        </div>
                                        <label class="ms-1 mb-0">
                                            <input type="text"
                                                class="form-control-inline"
                                                name="likert_{{ i }}_label_{{ option_num }}"
                                                style="width: auto; display: inline-block;"
                                                value="{% if current_likert %}{% if option_num == '1' %}{{ current_likert.option_1 }}
                                                    {% elif option_num == '2' %}{{ current_likert.option_2 }}
                                                    {% elif option_num == '3' %}{{ current_likert.option_3 }}
                                                    {% elif option_num == '4' %}{{ current_likert.option_4 }}
                                                    {% elif option_num == '5' %}{{ current_likert.option_5 }}
                                                    {% endif %}{% else %}{% if option_num == '1' %}Strongly Disagree{% elif option_num == '2' %}Disagree{% elif option_num == '3' %}Neutral{% elif option_num == '4' %}Agree{% elif option_num == '5' %}Strongly Agree{% endif %}
                                                    {% endif %}">
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
                {% endif %}

                <!-- Hidden field for num_likert -->
                <input type="hidden" name="num_likert" value="{{ course_form.num_likert }}">

                <!-- Add new Likert question -->
                <button type="submit" name="action" value="add_likert" class="btn btn-success mt-3">+ Add Likert
                    Question</button>

                <h1 id="middle">Open-ended Questions</h1>
                <!-- OPEN-ENDED QUESTIONS -->
                
                {% if course_form.num_open_ended > 0 %}
                    {% for i in course_form.num_open_ended|times %}
                        {% if forloop.last %}
                            <p id="scroll-open-ended"></p>
                        {% endif %}
                        {% with current_open_ended=open_ended_qs|get_item:forloop.counter0 %}
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="me-3 text-white" style="width: 30px; height: 30px; border-radius: 50%; background-color: #ff4e4e; display: flex; align-items: center; justify-content: center;">
                                        <strong>{{ forloop.counter }}</strong>
                                    </div>
                                    <div class="flex-grow-1">
                                        <input type="text" name="open_ended_question_{{ i }}" class="form-control" placeholder="Enter Question"
                                            aria-label="Question Title"
                                            value="{% if current_open_ended %}{{ current_open_ended.question }}{% endif %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    {% endfor %}
                {% endif %}

                <!-- Hidden field for num_open -->
                <input type="hidden" name="num_open" value="{{ course_form.num_open_ended }}">

                <!-- Add new Open Ended Question -->
                <button type="submit" name="action" value="add_open_ended" class="btn btn-success mt-3">+ Add Open-ended
                    Question</button>

                <div class="text-end mt-4">
                    <div class="text-end mt-4">
                        <a href="{% url 'edit_info' join_code=course.join_code course_form_id=course_form.pk %}" class="btn btn-warning px-4 py-2" style="font-weight: 500;">
                            Edit Info
                        </a>
                    </div>
                    
                    <button type="submit" name="action" value="save" id="scroll-save" 
                        class="btn btn-primary px-4 py-2" style="font-weight: 500;">
                        Save Form <span class="ms-1">&#x25BC;</span>
                    </button>
                </div>
                <div class="text-end mt-4">
                    <button type="submit" name="action" value="publish" class="btn btn-primary px-4 py-2"
                        style="font-weight: 500;">
                        Publish Form <span class="ms-1">&#x25BC;</span>
                    </button>
                </div>
                <div class="text-end mt-4">
                    <button type="submit" name="action" value="release" class="btn btn-primary px-4 py-2"
                        style="font-weight: 500;">
                        Release Form (debug) <span class="ms-1">&#x25BC;</span>
                    </button>
                </div>

            </form>
        </div>
        <div class="col-md-3 p-0 m-0">
            {% include "course/view_forms_sidebar.html" %}
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var hash = window.location.hash;
        if (hash) {
            var targetElement = document.querySelector(hash);
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: 'smooth', block: 'start'});
            }
        }
    });
</script>
{% endblock %}