{% extends 'collabrate/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block content %}
{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}
<div class="login-container">
    <div class="left-panel">
        <img class="login-img" src="{% static 'collabrate/images/org.png' %}">
    </div>
    <div class="right-panel">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}