{% load static %}

<div class="card border-0 shadow-lg rounded-lg overflow-hidden" style="width: 300px; min-height: 200px; display: flex; flex-direction: column; align-items: center; border-radius: 16px;">
    <div class="p-4 bg-light w-100" style="max-width: 90%; border-radius: 16px 16px 0 0;">
        <h5 class="fw-bold mb-1">{{ course.code }}</h5>
        <p class="text-muted">{{ course.title }}</p>
    </div>
 
 
    <div class="p-3 d-flex justify-content-between align-items-center w-100"
        style="background-color: {{ course.color|default:'#4CAF50' }}; color: white; border-radius: 0 0 16px 16px; min-height: 100px; width: 100%;">
        <span><i class="fas fa-users"></i> {{ course.student_count }}</span>
        <span>{{ course.semester }} {{ course.year }}</span>
    </div>
 </div>