{% extends 'collabrate/base.html' %}
{% block title %}Edit Form{% endblock %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/join_course_modal.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/course_card.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/create_course_modal.css' %}">
<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
<script src="https://unpkg.com/@yaireo/tagify"></script>
{% endblock %}

{% block content %}
{% include "dashboard/join_course_modal.html" %}
{% include "dashboard/create_course_modal.html" %}

<div class="d-flex">
    {% include "dashboard/sidenav.html" %}
    <div class="container mt-5">
        <h2>Edit Form: {{ form.name }}</h2>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="new-form-label">
                <label for="formName" class="pencil"><i class="fa-solid fa-pencil"></i></label>
                <input type="text" id="formName" name="form_name" class="form-control" value="{{ form.name }}" />
            </div>

            <div class="due-label">
                <label for="due_date" class="form-label"><strong>Due Date:</strong></label>
                <input type="date" id="due_date" name="due_date" class="form-control" value="{{ form.due_date|date:'Y-m-d' }}">
            </div>

            <div class="due-label">
                <label for="due_time" class="form-label"><strong>Due Time:</strong></label>
                <input type="time" id="due_time" name="due_time" class="form-control" value="{{ form.due_time|time:'H:i' }}">
            </div>

            <div class="form-check form-switch mb-3">
                <input class="form-check-input" style="background-color: {{ course.color }};" type="checkbox" id="selfEvaluateToggle" name="self_evaluate" {% if form.self_evaluate %}checked{% endif %}>
                <label class="form-check-label" for="selfEvaluateToggle">Require that students self-evaluate</label>
            </div>

            <div class="question-count">
                <label for="num_likert" class="form-label"><strong>Likert-Scale Questions:</strong></label>
                <input type="number" id="num_likert" name="num_likert" class="form-control"
                       value="{{ form.num_likert }}" min="0" step="1">
            </div>

            <div class="question-count">
                <label for="num_open" class="form-label"><strong>Open-Ended Questions:</strong></label>
                <input type="number" id="num_open" name="num_open" class="form-control"
                       value="{{ form.num_open }}" min="0" step="1">
            </div>

            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
    </div>
</div>

{% endblock %}
