.color-picker {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 0.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.shadow {
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
}

.glass-modal-content {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.bg-solid,
.course-form-input {
    /* background: #f2f0ef; */
    border: none !important;
    border-bottom: 2px solid #ccc !important;
    border-radius: 0;
    background-color: #f2f0ef;
    transition: border-color .2s;
}

.course-form-input:focus {
    background-color: #f2f0ef !important;
    box-shadow: none !important;
  }

.create-course-btn {
    background-color: #5bc263;
    border: none;
    border-radius: 10px;
    width: 5rem;
    height: 2.5rem;
    margin-right: 0.75rem;
}

.create-course-icon {
    color: white;
    font-size: 1.5rem;
}

.create-course-footer {
    margin-top: -2.5%;
}