.top-banner {
    border-radius: 8px;
    height: 64px;
    display: flex;
    align-items: center;
    width: 100%;
}

.top-banner h1 {
    margin-left: 12px;
    margin-top: 10px;
    font-size: 32px;
    color: white;
    mix-blend-mode: difference;
}

.new-form-label {
    position: relative;
    display: flex;
    margin-top: 12px;
}

.new-form-label input {
    margin-left: 12px;
}

.form-control {
    padding-right: 30px; 
}

.form-info {
    font-size: 24px;
}

.form-info input {
    width: 200px;
    border: 2px solid #007bff;  
    border-radius: 4px;   
}

.question-count, .due-label {
    display: flex;
}

.due-label {
    margin-top: 12px;
}

.due-label #due_time {
    margin-left: 14px;
    margin-bottom: 24px;
}

.due-label #due_date {
    margin-left: 16px;
}

.question-count input {
    width: 80px;
}

.question-count #num_likert {
    margin-left: 28px;
}

.question-count #num_open_ended {
    margin-left: 18px;
}

.pencil {
    transform: translate(-32px, 4px);
}
