<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="logo">CollabRate</a>
        <div class="color-bar">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
            <div class="color4"></div>
            <div class="color5"></div>
        </div>
    </div>
    <div class="navbar-right">
        <button class="login-btn"><a href="{% url 'login' %}"><i class="fas fa-sign-in"></i> Login</a></button>
    </div>
</nav>