{% extends 'collabrate/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block content %}
<div class="login-container">
    <div class="left-panel">
        <img class="login-img" src="{% static 'collabrate/images/org.png' %}">
    </div>
    <div class="right-panel">
        <h1>What is your role?</h1>
        <button>I'm a <strong>Team Member</strong></button>
        <button>I'm a <strong>Professor</strong></button>
        <button>I'm an <strong>Admin</strong></button>
    </div>
</div>
{% endblock %}