html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
}

.user-type-btn {
  background-color: #F2F0EF;
  border: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
}

.user-type-btn:hover {
  background-color: #e2e2e2;
}

.user-type-header {
  margin-bottom: 10%;
}

.user-type-icon {
  font-size: 2rem;
}